@model AddBookViewModel

<h2>Add new book</h2>
<form asp-controller="Books" asp-action="AddBook" method="post">
    <label asp-for="Title">Title: </label> <input type="text" asp-for="Title" />
    <label asp-for="YearPublished">Year Published: </label> <input type="number" asp-for="YearPublished" />
    <label asp-for="Isbn">ISBN: </label> <input type="text" asp-for="Isbn" />
    <label asp-for="AuthorFirstName">Author First Name: </label> <input type="text" asp-for="AuthorFirstName" />
    <label asp-for="AuthorLastName">Author Last Name: </label> <input type="text" asp-for="AuthorLastName" />
    <label>Number of copies: </label> <input type="number" asp-for="NumberOfCopies" />
    <button type="submit">Create new book</button>
</form>