@{
    ViewData["Title"] = "Books Page";
}
<h1>@ViewData["Title"]</h1>

<p></p>
<div class="text-center">
    <h1 class="display-4">Welcome to Books Page</h1>
    <p>Add a new book <a href=""></a></p>
    <table style="width:80%">
        <tr>
            <th>Book Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>ISBN</th>
            <th>Copies in Bookish</th>
            <th>Copies Available</th>
        </tr>
        <tr>
            <th>1</th>
            <th>White Fang</th>
            <th>Jack London</th>
            <th>2000</th>
            <th>9783473540112</th>
            <th>10</th>
            <th>5</th>
        </tr>
        <tr>
            <th>2</th>
            <th>David Copperfield</th>
            <th>Charles Dickens</th>
            <th>2002</th>
            <th>9783473543556</th>
            <th>18</th>
            <th>5</th>
        </tr>
    </table>

</div>
