@model CatalogueViewModel
@{
    ViewData["Title"] = "Books Page";
}
<h1>@ViewData["Title"]</h1>
 
<p></p>
<div class="text-center">
    <h1 class="display-4">Welcome to Books Page</h1>
    <p>Add a new book <a href=""></a></p>


</div>
