@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Bookish</h1>
    <p>Books <a class="nav-link" asp-controller="Books" asp-action="Catalogue"></a></p>
    <p>Members <a class="nav-link"asp-controller="Members" asp-action="Members"></a></p>
</div>
