@{
    ViewData["Title"] = "Members Page";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome to Members Page</h1>
    <p>Add new book<a href=""></a></p>
    <table style="width:80%">
        <tr>
            <th>Member Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Lena</td>
            <td>Ele</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ismat</td>
            <td>Mahmood</td>
        </tr>
    </table>
</div>
